.main-page-header {
  padding: 8rem 9.5rem;
  display: flex;

  .logo-horizontal {
    display: flex;
    align-items: center;

    .beta {
      padding-top: 1rem;
    }
  }

  .main-header-right {
    align-self: center;
    margin-left: auto;
    margin-right: 0;

    .main-nav {
      display: flex;

      .nav-links {
        display: flex;
        list-style: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;

        .nav-link {
          padding: 0 1rem;
          opacity: 0.8;
          color: #fff;
          text-decoration: none;

          &:hover {
            opacity: 1;
          }
        }
      }

      .user-dropdown {
        display: flex;
        cursor: pointer;
        align-items: center;
        padding: 0.1rem 0 0 0.5rem;
        margin-left: 1rem;
        font-weight: 700;
        width: 160px;
        border-radius: 40px;
        background: linear-gradient(
          141.32deg,
          rgba(48, 224, 111, 0.2) 4.58%,
          rgba(17, 129, 57, 0.2) 122.96%
        );
        border: 1px solid rgba(48, 224, 111, 0.8);
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 10px #30e06f;

        .user-avatar-sm {
          width: 32px;
          height: 32px;
          border: 2.5px solid #fff;
          border-radius: 50%;
        }

        .user-name-sm {
          color: #fff;
          margin-left: 7px;
        }

        .dropdown-arrow {
          margin-left: 1.7rem;
        }
      }
    }
  }
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  .user-avatar-lg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    border: 6px solid #fff;
  }

  .user-name-lg {
    font-size: 35px;
    line-height: 5px;
    color: white;
    font-weight: 700;
  }

  .user-id {
    text-decoration: none;
    font-size: 13px;
    line-height: 0px;
    font-weight: 700;
    color: #118139;
    letter-spacing: 1.5px;
    text-shadow: 0.02px 0 1px #000;
  }

  .fevr-stats {
    display: flex;
    font-weight: 400;
    color: #fff;
  }

  .fevr-stat {
    display: flex;
    margin-left: 1rem;
    align-items: center;
    letter-spacing: 2px;

    strong {
      margin-right: 0.3em;
    }

    .mini-token {
      width: 20px;
      height: 20px;
      margin-right: 0.4rem;
    }
  }

  .join-date {
    color: #fff;
    font-size: 12px;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .badge {
    margin-right: 5px;
  }

  .user-stats {
    display: flex;
    justify-content: center;
    margin: 1em 1em 0 0;

    .user-stat {
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;

      .user-stat-title {
        color: #30e06f;
        font-size: 30px;
        margin-bottom: 0;
      }

      .user-stat-text {
        color: #fff;
        font-size: 12px;
        letter-spacing: 2px;
        margin-top: 0.3em;
      }
    }

    .separator {
      display: inline-block;
      border-left: 1.8px solid #30e06f;
      margin: 2.3em 1em;
      height: 3.5em;
      border-radius: 50%;
      box-shadow: 0.2px 0.5px 0.2px 0.2px black;
      opacity: 0.7;
    }
  }
}

.middle-navbar {
  margin-bottom: 0;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 20rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.224);
  padding-bottom: 1em;

  .middle-nav-item {
    text-decoration: none;
    opacity: 0.5;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    text-shadow: 0.5px 0.5px 0.5px #000;
  }

  .active {
    opacity: 1;
    border-bottom: 2px solid #fff;
    padding-bottom: 0.95em;
  }
}

.profile-info {
  background: black;
  display: flex;
  justify-content: center;

  .profile-info-grid {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;
    padding-top: 4em;

    .profile-info-item {
      padding: 0 10em;

      .item-top-info {
        display: flex;
        align-items: center;
        position: relative;
        padding-bottom: 0.6em;
      }

      .borderless {
        padding-right: 1em;
      }

      .rank {
        color: #30e06f;
        font-size: 30px;
        font-weight: 700;
      }

      .level-text {
        color: #fff;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        padding: 1.5em 0 1em 1.5em;
      }

      .alt-text {
        color: #fff;
        font-size: 16px;
        width: max-content;
        letter-spacing: 1px;
        font-weight: 400;
        position: absolute;
        left: 4.8em;
        top: 3.4em;
      }

      .alt-text-border {
        color: #fff;
        font-size: 16px;
        width: max-content;
        letter-spacing: 1px;
        font-weight: 400;
        position: absolute;
        left: 6.6em;
        top: 3.6em;
      }

      .progress-bar {
        display: flex;
        justify-content: center;
        height: 2.5em;
        width: 35em;
        background-color: #51495f8f;
        border-radius: 2em;
        border: 1px solid grey;
      }

      .inner-bar {
        position: relative;
        box-shadow: 0 0 1px #fff, 0 0 10px #fff, 0 0 5px grey, 0 0 10px grey,
          0 0 10px grey, 0 0 20px grey;
        align-self: center;
        border: 1px solid grey;
        height: 1.8em;
        width: 34em;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
        background-color: #51495f;
        border-radius: 2em;
        text-align: center;
        line-height: 1.7em;
      }

      .bar-text {
        width: max-content;
        opacity: 0.5;
        position: absolute;
        left: 15.6em;
        top: -1em;
        color: #fff;
      }

      .bar-text-second {
        width: max-content;
        opacity: 1;
        position: absolute;
        left: 15.6em;
        top: -1em;
      }

      .bar-text-second-right {
        position: absolute;
        width: max-content;
        opacity: 0.5;
        position: absolute;
        left: 3.5em;
        top: -1em;
        color: #fff;
        margin-right: 10em;
      }

      .inner-bar-first {
        position: relative;
        box-shadow: 0 0 1px #fff, 0 0 10px #fff, 0 0 5px grey, 0 0 10px grey,
          0 0 10px grey, 0 0 20px grey;
        align-self: center;
        margin-right: 24em;
        border: 1px solid white;
        height: 1.8em;
        width: 10em;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
        background-color: #e8fbef;
        border-radius: 2em;
        text-align: center;
        line-height: 1.7em;
      }

      .inner-bar-second {
        position: relative;
        box-shadow: 0 0 1px #fff, 0 0 10px #fff, 0 0 5px grey, 0 0 10px grey,
          0 0 10px grey, 0 0 20px grey;
        align-self: center;
        margin-right: 15em;
        border: 1px solid white;
        height: 1.8em;
        width: 18.7em;
        font-weight: 700;
        color: black;
        text-transform: uppercase;
        text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
        background-color: #e8fbef;
        border-radius: 2em;
        text-align: center;
        line-height: 1.7em;
      }

      .inner-bar-complete {
        box-shadow: 0 0 1px #fff, 0 0 10px #fff, 0 0 5px #a238af,
          0 0 10px #a238af, 0 0 10px #a238af, 0 0 20px #a238af;
        align-self: center;
        border: 1px solid #a238af;
        height: 1.8em;
        width: 34em;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
        background-color: #a238af;
        border-radius: 2em;
        text-align: center;
        line-height: 1.7em;
      }

      .inner-bar-claimed {
        box-shadow: 0 0 1px #fff, 0 0 10px #fff, 0 0 5px #3ab557,
          0 0 10px #3ab557, 0 0 10px #3ab557, 0 0 20px #3ab557;
        align-self: center;
        border: 1px solid #3ab557;
        height: 1.8em;
        width: 34em;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
        background-color: #3ab557;
        border-radius: 2em;
        text-align: center;
        line-height: 1.7em;
      }

      .reward {
        text-align: center;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        padding-top: 1em;
      }

      .reward-faded {
        text-align: center;
        opacity: 0.5;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        padding-top: 1em;
      }
    }
  }
}
