@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

body {
  font-family: "PT Sans", sans-serif;
  background: url(./assets/bg-app.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;

  .btn-header {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }

    img {
      &:hover {
        transform: scale(1.1) rotate(-45deg);
        transform-origin: center center;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .header-bold-text {
    font-size: 13.5px;
    line-height: 14px;
    font-weight: 700;
    color: #fff;
    display: flex;
    padding-right: 5rem;
    cursor: pointer;
  }

  .navbar-left {
    padding-left: 10rem;

    .token1 {
      padding-right: 10px;
    }
  }

  .navbar-right {
    padding-right: 10rem;
    display: flex;
    align-items: center;

    .soon {
      font-weight: 200;
    }

    .socials {
      padding-right: 5rem;

      .social-link {
        font-size: 18px;
        color: #fff;
        opacity: 0.8;
        padding: 1rem;

        &:hover {
          opacity: 1;
          transition: 0.4s ease-in-out;
        }
      }
    }

    .btn-play-fantasy {
      border: solid 1px rgba(255, 255, 255, 0.1);
      padding: 12px 12px 10px;
      color: #2e457e;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      background: linear-gradient(169.98deg, #ffffff 33.75%, #6a84cb 184.73%);
      box-shadow: 0px 10px 20px rgba(29, 53, 117, 0.3);
      display: inline-block;

      &:hover {
        color: black;
        box-shadow: 0 25px 50px rgba(8, 14, 31, 0.5);
        text-shadow: 0 25px 50px rgba(8, 14, 31, 0.5);
      }
    }
  }
}

.main-page-header {
  padding: 8rem 9.5rem;
  display: flex;

  .logo-horizontal {
    display: flex;
    align-items: center;

    .beta {
      padding-top: 1rem;
    }
  }

  .main-header-right {
    align-self: center;
    margin-left: auto;
    margin-right: 0;

    .main-nav {
      display: flex;

      .nav-links {
        display: flex;
        list-style: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;

        .nav-link {
          padding: 0 1rem;
          opacity: 0.8;
          color: #fff;
          text-decoration: none;

          &:hover {
            opacity: 1;
          }
        }
      }

      .user-dropdown {
        display: flex;
        cursor: pointer;
        align-items: center;
        padding: 0.1rem 0 0 0.5rem;
        margin-left: 1rem;
        font-weight: 700;
        width: 160px;
        border-radius: 40px;
        background: linear-gradient(
          141.32deg,
          rgba(48, 224, 111, 0.2) 4.58%,
          rgba(17, 129, 57, 0.2) 122.96%
        );
        border: 1px solid rgba(48, 224, 111, 0.8);
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 10px #30e06f;

        .user-avatar-sm {
          width: 32px;
          height: 32px;
          border: 2.5px solid #fff;
          border-radius: 50%;
        }

        .user-name-sm {
          color: #fff;
          margin-left: 7px;
        }

        .dropdown-arrow {
          margin-left: 1.7rem;
        }
      }
    }
  }
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  .user-avatar-lg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    border: 6px solid #fff;
  }

  .user-name-lg {
    font-size: 35px;
    line-height: 5px;
    color: white;
    font-weight: 700;
  }

  .user-id {
    font-size: 13px;
    line-height: 0px;
    font-weight: 700;
    color: #118139;
    letter-spacing: 1.5px;
  }

  .fevr-stats {
    display: flex;
    font-weight: 700;
    color: #fff;
  }

  .fevr-stat {
    display: flex;
    margin-left: 1rem;
    align-items: center;
    letter-spacing: 2px;

    .mini-token {
      width: 20px;
      height: 20px;
      margin-right: 0.4rem;
    }
  }

  .join-date {
    color: #fff;
    font-size: 12px;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .badge {
    margin-right: 5px;
  }

  .user-stats {
    display: flex;
    justify-content: space-around;
    margin: 2em 7em 0 0;

    .user-stat {
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;

      .user-stat-title {
        color: #45d367;
        font-size: 30px;
        margin-bottom: 0;
      }

      .user-stat-text {
        color: #fff;
        font-size: 12px;
        letter-spacing: 2px;
      }
    }

    .separator {
      display: inline-block;
      border-left: 1.5px solid #45d367;
      margin: 0 10px;
      height: 105px;
      box-shadow: rgba(48, 224, 111, 0.8);
    }
  }
}
